# **Programming for AI**
  # **LAB 2 and 3**
# Name: Usman Nazakat
# Department: AI - Blue
# Reg no: B22F0240AI018
# Semester: 4

# Task 1
1.	Print at least 5 types of data type

In [8]:
#Five variables of INTEGER Data Type

int_1=int(5)
int_2=int(8)
int_3=int(400)
int_4=int(987)
int_5=int(0)
print(int_1, type(int_1))   #Value of integer-1 and its DataType
print(int_2, type(int_2))   #Value of integer-2 and its DataType
print(int_3, type(int_3))   #Value of integer-3 and its DataType
print(int_4, type(int_4))   #Value of integer-4 and its DataType
print(int_5, type(int_5))   #Value of integer-5 and its DataType

5 <class 'int'>
8 <class 'int'>
400 <class 'int'>
987 <class 'int'>
0 <class 'int'>

In [9]:
#Five variables of FLOAT Data Type
float_1 = 0.6
float_2 = 8.9
float_3 = 0.8667
float_4 = 3.14
float_5 = 987.9
print(float_1, type(float_1) )   #Value of Float-1 and its DataType
print(float_2, type(float_2) )   #Value of Float-2 and its DataType
print(float_3, type(float_3) )   #Value of Float-3 and its DataType
print(float_4, type(float_4) )   #Value of Float-4 and its DataType
print(float_5, type(float_5) )   #Value of Float-5 and its DataType

0.6 <class 'float'>
8.9 <class 'float'>
0.8667 <class 'float'>
3.14 <class 'float'>
987.9 <class 'float'>

In [11]:
#Five variables of COMPLEX Data Type
complex_1 = 5+3j
complex_2 = 8.9+9j
complex_3 = 10+0.8667j
complex_4 = 3.14+1j
complex_5 = 987.9j
print(complex_1, type(complex_1) )   #Value of complex-1 and its DataType
print(complex_2, type(complex_2) )   #Value of complex-2 and its DataType
print(complex_3, type(complex_3) )   #Value of complex-3 and its DataType
print(complex_4, type(complex_4) )   #Value of complex-4 and its DataType
print(complex_5, type(complex_5) )   #Value of complex-5 and its DataType

(5+3j) <class 'complex'>
(8.9+9j) <class 'complex'>
(10+0.8667j) <class 'complex'>
(3.14+1j) <class 'complex'>
987.9j <class 'complex'>

# Task 2
2.	Write example of type conversion for each ( minimum 3)

In [15]:
#Type Conversion

x=1     #integer
y=2.42  #float
z=9+1j  #complex

x1 = float(x)  #integer to float
y1 = complex(y) #float to complex
z1 = int(y) #float to integer

print(x1, type(x1)) #displaying value of x1 and its datatype
print(y1, type(y1)) #displaying value of y1 and its datatype
print(z1, type(z1)) #displaying value of z1 and its datatype

1.0 <class 'float'>
(2.42+0j) <class 'complex'>
2 <class 'int'>

# Task 3
3.	Assign multiple strings to single variable with your name , registration number, program , semester etc

In [20]:
#Assigning multiple strings to single variable
single_Var="""
name= Osman
reg no= B22F0240AI018
program= Artificial Intelligence
"""
print(single_Var) #printing the strings

name= Osman
reg no= B22F0240AI018
program= Artificial Intelligence

# Task 4
4.	Write Your country name and access the last 3 characters

In [17]:
#assigning the country name to variable
country= "pakistan"

#accessing the last 3 characters of variable "country"
last_3_chracter=country[-3:]
print(country)    #displaying the actual variable
print(last_3_chracter)    #displaying the last 3 characters of variable "country"

pakistan
tan

# Task 5
5.	Write code and observe using len() function it count space or not.

In [18]:
#assigning string to variable
string1="This is string"

# using len() function and printing
#len() is used to find the length of string

print(len(string1))

14

# Task 6
6.	Write code to access the 2nd and 3rd character of your name using negative indexes.

In [21]:

myName="Usman"   #Assigning string to varible "myName"
#access the 2nd and 3rd character
secondChar= myName[-2]   #access the 2nd character of "myName"
thirdChar= myName[-3]    #access the 3rd character of "myName"
print(secondChar, thirdChar)     #printing the characters

a m

# Task 7
7.	Write python code in which you pass index number to format() function and arguments must be 4 and same code without indexes.

In [25]:
# Descriptive format string explaining the content and placeholders
formatted_message = "The {position} arguments are: {arg1}, {arg2}, {arg3}, and {arg4}"

# Arguments to pass
first_argument = "first"
second_argument = "second"
third_argument = "third"
fourth_argument = "fourth"

# Format the message using arguments
formatted_message = formatted_message.format(position="four", arg1=first_argument,arg2=second_argument, arg3=third_argument,arg4=fourth_argument)

# Print the formatted message
print("Indexed format:", formatted_message)

Indexed format: The four arguments are: first, second, third, and fourth

# Task 8
8.	Take input from user and  than display it like “John age is: age”

In [24]:
name = input("Enter your Name : ")
age = input("Enter your Age : ")

print(name +" age is:" + age)

Enter your Name : Osman
Enter your Age : 19
Osman age is:19

# Conclusion
In this lab we done with "int, float and complex" data types in python and perform some examples and function on them. we also did type casting between these data types.