<a href="https://colab.research.google.com/github/usmannazakat/Usman-Al-Labs/blob/main/Lab_4_%26_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programming for Artificial Intelligence
# LAB 4 and 5
# Name: Usman Nazakat
# Department: AI - Blue
# Reg no: B22F0240AI018
# Semester: 4

# Task 1
**Access List Items:**
1.	Create a list of fruits.
2.	Print the first and last items of the list.

In [ ]:
#Task 01
Fruits_List= ["cherry", "mango", "apple", "Watermelon"]  #Creating List
print("First_Item:", Fruits_List[0])
print("Last_Item:", Fruits_List[-1])

First_Item: cherry
Last_Item: Watermelon

# Task 2
**Change List Items:**
1.	Create a list of colors.
2.	Change the second item in the list to "blue".

In [ ]:
# Task 02
Colors_List = ["Black", "White", "Green"]
Colors_List[1] = "Blue"
print(Colors_List)

['Black', 'Blue', 'Green']

# Task 3
**Add List Items:**
1.	Create a list of numbers.
2.	Add the number 10 at the end of the list.

In [ ]:
# Task 03
Numbers_List = [9, 8, 7, 6, 5]
Numbers_List.append(10)
print(Numbers_List)

[9, 8, 7, 6, 5, 10]

# Task 4
**Remove List Items:**
1.	Create a list of animals.
2.	Remove the third item from the list.

In [ ]:
# Task 04
Animals_List = ["Deer", "Dog", "Ox", "Buffallo"]
del Animals_List[2]
print(Animals_List)

['Deer', 'Dog', 'Buffallo']

# Task 5
**Loop Lists:**
1.	Create a list of cities.
2.	Loop through the list and print each city.

In [ ]:
# Task 05
Cities_List = ["Islamabad", "Lahore", "Attock"]
for city in Cities_List:
    print(city)

Islamabad
Lahore
Attock

# Task 6
**List Comprehension:**
1.	Create a list of numbers from 1 to 10.
2.	Use list comprehension to create a new list containing the square of each number.

In [ ]:
# Task 06
numbers = [i for i in range(1, 11)]
squared_numbers = [x ** 2 for x in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Task 7
**Sort Lists:**
1.	Create a list of names.
2.	Sort the list alphabetically.

In [ ]:
# Task 07
Names_List = ["Osman", "Haider", "Hammad", "Ali"]
Names_List.sort()
print(Names_List)

['Ali', 'Haider', 'Hammad', 'Osman']

# Task 8
**Copy Lists:**
1.	Create a list of fruits.
2.	Copy the list into a new list.

In [ ]:
# Task 08

Fruits_List = ["Cherry", "Mango", "Banana"]
new_fruitsList = Fruits_List.copy()
print(new_fruitsList)

['Cherry', 'Mango', 'Banana']

# Task 9
**Join Lists:**
1.	Create two lists of numbers.
2.	Join the two lists into a single list.

In [ ]:
# Task 09
List_1 = [1, 2, 3]
List_2 = [4, 5, 6]
Joined_List = List_1 + List_2
print(Joined_List)

[1, 2, 3, 4, 5, 6]

# Task 10
**List Methods:**
1.	Create a list of fruits.
2.	Use the append() method to add a new fruit to the list.
3.	Use the pop() method to remove the last fruit from the list.

In [ ]:
# Task 10

Fruits_List = ["Cherry", "Mango", "Banana"]
Fruits_List.append("Orange")

print(Fruits_List)
Fruits_List.pop()
print("Last Fruit has been Removed fromo List:", Fruits_List)

['Cherry', 'Mango', 'Banana', 'Orange']
Last Fruit has been Removed fromo List: ['Cherry', 'Mango', 'Banana']

# Task 11
**Combining Lists and List Comprehension:**

1.	Create two lists, one containing numbers from 1 to 5 and another containing numbers from 6 to 10.
2.	Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists.

In [ ]:
# Task 11

List_1=[1, 2, 3, 4, 5]
List_2=[6, 7, 8, 9, 10]
sum_list = [x + y for x, y in zip(List_1, List_2)]
print(sum_list)

[7, 9, 11, 13, 15]

# Task 12
**Filtering and Sorting:**
1. Create a list of numbers.
2.	Use list comprehension to create a new list containing only the even numbers from the original list.
3.	Sort the new list in descending order.

In [ ]:
# Task 12

Numbers_List = [1, 2, 3, 4, 5, 6, 7, 8]
Even_Numbers = [x for x in Numbers_List if x % 2 == 0]
Even_Numbers.sort(reverse=True)
print(Even_Numbers)

[8, 6, 4, 2]

# Task 13
**List Slicing and Reversing:**
1.	Create a list of numbers from 1 to 10.
2.	Use list slicing to create a new list containing only the even numbers from the original list, in reverse order.

In [ ]:
# Task 13
numbers = list(range(1, 11))
even_reverse = numbers[-1::-2]
print(even_reverse)

[10, 8, 6, 4, 2]

# Task 14
**Combining Lists and List Methods:**
1.	Create two lists, one containing even numbers and another containing odd numbers.
2.	Use list methods to combine the two lists into a single list, alternating between even and odd numbers.

In [ ]:
# Task 14

even_numbers = [2, 4, 6, 8, 10]
odd_numbers = [1, 3, 5, 7, 9]
combined_list = []
for even, odd in zip(even_numbers, odd_numbers):
    combined_list.append(even)
    combined_list.append(odd)
print(combined_list)

[2, 1, 4, 3, 6, 5, 8, 7, 10, 9]